<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Noblesceaux{% endblock %}</title>

    <meta name="description" content="Plate-forme d'entraînement à la langue française pour aventuriers intrépides. Accumulez les points d'expérience et montez de niveau&#8239;!">

    {% block external_css %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
    {% endblock %}

    {% block external_fonts %}{% endblock %}

    {% block ie_comments %}
        <!--[if lte IE 9]>
        <script src="/web/bundles/app/js/polyfills.min.css">
        <![endif]-->
    {% endblock %}

    {% block favicons %}
        <link rel="icon" href="/web/bundles/app/favicon.png" />
    {% endblock %}
</head>

<body>
<header>
    <h1>Noblesceaux</h1>
    {{ dump(csrf_token) }}
    </header>



{% block main_content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>