{# This file is part of the Sonata package. #}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}

    <h1>Paramètres du compte</h1>
    <h1>Quêtes</h1>
    <h1>Grimoire</h1>

{% endblock %}
