
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #D8D8D8;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
}

h1 {
    font-family: Arial;
    margin-bottom: 70%;
    margin-left: 5%;
}

.form-horizontal {
    border-bottom: red solid 2px;

}

.presentation {
    text-align: center;
}